* {
    margin: 0px;
}

body {
    background-color: #8ACDEA;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;

    background-color: #390040;
    width: 100%;
    height: 100px;
    font-family: sans-serif;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header-left {
    display: inline-block;
    
    margin-left: 50px;
}

.header-left-small-text {
    font-size: 80%;
    color: #8ACDEA;
}

.header-right {
    margin-right: 40px;
    display: inline-block;
    text-align: right;

    flex-shrink: 0;
}

.header-right a {
    color: white;
    text-decoration: none;
    font-size: 21px;
    margin-right:15px;
}

section {
    display: flex;
    
    margin: 10px;

    width: 70%;
    
    height: 100%;
    background-color: white;
    padding: 30px;

    box-shadow: #390040 4px 4px;
}

.section-title {
    
    border-right: solid #363732 5px;
    border-radius: 2px;
    flex-grow: 1;
    flex-basis: 140px;
    flex-shrink: 0;
    font-family: sans-serif;
    /*height: 100%;*/
    
}
.section-main {
    width: 79%;
    padding: 0px 20px;
    
}

.section-ception {
    padding: 15px;
    background-color: #8ACDEA;
    margin-top: 20px;
}

#Profile-pic {
    margin-top: 20px;
    width: 100px;
}

p {
    text-indent: 15px;
}

.project-section {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.project-section img {
    width: 100%;
}

.img-chunk {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 43%;
    
    
    background-color: #8ACDEA;
}

.img-chunk h3 {
    margin-top: 15px;
}

#first-project {
    width: 100%;
}

.contact-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;

    margin: 10px;
}

@media screen and (max-width:1000px){
    section {
        width: 100%;   
    }

    .header-right {
        margin-right: 20px;
    }

    .header-left {
        margin-left: 20px;
    }
}

@media screen and (max-width:850px){
    .header-right {
        width: 150px;
        
        
    }
}

@media screen and (max-width:450px){
    header {
        height: 130px;
        
        
    }
}